body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #edd793; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: gilligan;
  src: url(./fonts/GILLIGAN.TTF);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


@media only screen and (min-width: 600px) {

  .full-coconut, .falling {
    left: 53vw !important;
  }

  .left-half {
    left: 48vw !important;
  }

  .right-half {
    left: 58vw !important;
    transform: rotate(-90deg);
  }

  .title-text {
    left: 38vw !important;
    font-size: 500% !important;
  }
}


.sky {
  /* background-color: #d2e2e1; */
  background-color: #defaf8;
  height: 40vh;
}

.sun {
  background-color: #FDB813;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  margin: 2%;
}

.water {
  /* background-color: #1f9fa9; */
  background-color: #2db8c2;
  height: 15vh;
}

.sand {
  position: relative;
  background-color: #edd793;
  height: 45vh;
}

.tree-container {
}

#coconut-tree {
  height: 50vh;
  position: absolute;
  left: 50vw;
  bottom: 25vh;
}

.full-coconut {
  height: 8vh;
  position: absolute;
  left: 60vw;
  bottom: 55vh;
  animation-name: shake;
  animation-duration: 3s;
  animation-delay: 1s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(0deg);
  }
}

.falling {
  height: 8vh;
  position: absolute;
  left: 60vw;
  bottom: 55vh;
  animation-name: drop-coconut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes drop-coconut {
  0% {
    bottom: 55.5vh;
  }
  100% {
    bottom: 21vh;
  }
}

.half-coconut {
  height: 8vh;
  position: absolute;
  bottom: 22vh;
}

.left-half {
  left: 55vw;
}

.right-half {
  left: 70vw;
  transform: rotate(-90deg);
}

.title-text {
  font-family: gilligan;
  font-size: 200%;
  text-align: center;
  position: absolute;
  top: -48vh;
  left: 40vw;
  animation-name: title-text-appear;
  animation-duration: 0.5s;
}

@keyframes title-text-appear {
  from {
    top: 0vh;
    transform: scale(.25);
  }
  to {

  }
}


